.information-box{
    width: 550px;
    height: 450px;
    background-color: white;
    padding: 10%;
    font-family: 'Roboto', sans-serif;

    &__title{
        font-weight: bold;
        font-size: 4vh;
    }

    &__description {
        margin-bottom: 25px;
    }
}